.common {
    background-color: #f9f9f9;
}

.common h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.common-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 2rem;
    padding: 1rem;
}

.common-card {
    flex: 0 0 auto;
    scroll-snap-align: center;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.common-card-stats {
    width: 20%;
}

.common-card-services {
    width: 30%;
}

.common-card-suivis {
    width: 30%;
}

.common-card-testimony {
    width: 20%;
}

.common-card:hover {
    transform: translateY(-5px);
}

.common-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 3px solid #f0f0f0;
}

.common-title {
    color: #444;
    margin-bottom: 0.75rem;
    font-size: 1.2rem;
}

.common-text {
    margin-bottom: 1rem;
    font-style: italic;
}

.common-author {
    font-weight: bold;
    color: #666;
    align-self: flex-end;
}

#contactForm {
    padding: 1.5rem;
    justify-content: center;
}

.pricing-features li.valid::before {
    content: "✓";
    color: #4a90e2;
}

.pricing-features li.invalid::before {
    content: "✗";
    color: #e94f4f;
}

.pricing-features li {
    list-style: none;
}

.scroll-indicator {
    text-align: center;
    margin-top: 10px;
    color: #666;
    font-size: 0.9em;
}

/* Media queries pour mobile */
@media (max-width: 768px) {
    .common-container {
        flex-wrap: nowrap;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        padding-left: calc(50vw - 175px); /* Centrer la première carte */
        padding-right: 20px;
    }

    .common-card:last-child {
        margin-right: calc(50vw - 175px); /* Assurer le centrage jusqu'à la fin */
    }

    .common-card-testimony,
    .common-card-stats,
    .common-card-services,
    .common-card-suivis {
        width: 350px; /* Taille fixe sur mobile pour un meilleur contrôle */
        min-width: 350px;
    }
}